# Mappls (MapmyIndia) API Key
# Get yours at: https://apis.mappls.com/console/#/app/project/project-details
MAPPLS_API_KEY=25baba9c270d32e7843ea729d679bc1f

# Backend API URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
